{% extends "base.html" %}

{% block title %}Главная - News Service{% endblock %}

{% block content %}
<div class="card">
    <h2>Последние новости</h2>
    <ul>
        {% for news in news_list %}
            <li>
                <strong>{{ news.title }}</strong><br>
                {% if news.url_to_image %}
                    <img src="{{ news.url_to_image }}" alt="image" width="150"><br>
                {% endif %}
                {{ news.description|default:news.content }}<br>
                <a href="{{ news.url }}" target="_blank">Читать полностью</a><br>
                <em>{{ news.published_at }}</em>
            </li>
        {% empty %}
            <li>Нет новостей</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}